<%- include('../partials/header') -%>

<div class="container">
  <h2>Dashboard</h2>
  <%- include('../partials/messages') -%>

  <div class="row">
    <div class="col-12">
      <div class="card text-white bg-success mb-3 text-center" style="width: 50rem">
        <div class="card-header">Header</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-5 col-md-5 col-lg-3">
      <div class="card text-white bg-secondary mb-3" style="max-width: 15rem">
        <div class="card-header">
          In Stock <br />
          0
        </div>
        <div class="card-body">
          <h5 class="card-title">View Details</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-5 col-lg-3">
      <div class="card text-white bg-success mb-3" style="max-width: 15rem">
        <div class="card-header">
          Out of Stock <br />
          0
        </div>
        <div class="card-body">
          <h5 class="card-title">View Details</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-5 col-lg-3">
      <div class="card text-white bg-danger mb-3" style="max-width: 15rem">
        <div class="card-header">
          Price Changed <br />
          0
        </div>
        <div class="card-body">
          <h5 class="card-title">View Details</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-5 col-md-5 col-lg-3">
      <div class="card text-white bg-danger mb-3" style="max-width: 15rem">
        <div class="card-header">
          Back In Stock <br />
          0
        </div>
        <div class="card-body">
          <h5 class="card-title">View Details</h5>
        </div>
      </div>
    </div>
  </div>

  <h3>Products Update Information</h3>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
        <div class="card-header">
          In Stock <br />
          0
        </div>
        <div class="card-body">
          <h5 class="card-title">View Details</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
        <div class="card-header">
          In Stock <br />
          0
        </div>
        <div class="card-body">
          <h5 class="card-title">View Details</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') -%>
