<%- include('../partials/header') -%>
<div class="col-10">
  <div class="container">
    <h2>Add New Product</h2>

    <form action="/new/product" class="text-center">
      <div class="col-10">
        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
        <button type="submit" class="btn btn-success btn-lg">Search Product</button>
      </div>
    </form>

    <form action="/new/product" class="text-center">
      <div class="col-8 mt-5 pt-5 offset-2">
        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" disabled aria-describedby="emailHelp" />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" disabled aria-describedby="emailHelp" />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" disabled aria-describedby="emailHelp" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" disabled aria-describedby="emailHelp" />
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="search" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
        <button type="submit" class="btn btn-success btn-lg">Search Product</button>
      </div>
    </form>
  </div>
</div>

<%- include('../partials/footer') -%>
