<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/404.css" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="https://cdn.dribbble.com/users/492035/screenshots/8986102/media/7de7ac27629bc67982468b4bd277817e.png" type="image/x-icon" />

    <title>Walmart Webscrapper</title>
  </head>
  <body class="justify-content-center text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <%if(currentUser){%>
          <li class="nav-item">
            <a href="/" class="nav-link text-white"><%= currentUser.name %></a>
          </li>
          <li class="nav-item">
            <a href="/edit/account" class="nav-link text-white">Edit account </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link text-white">Logout</a>
          </li>
          <%}else{%>

          <li class="nav-item">
            <a href="/login" class="nav-link text-white">Login </a>
          </li>

          <%}%>
        </ul>
      </div>
    </nav>

    <% if(currentUser) { %>
    <div class="row">
      <div class="col-2"><%- include('../partials/sidebar') -%></div>
      <% } %>
