<div class="wrapper">
  <nav id="sidebar" class="bg-dark">
    <ul class="list-unstyled components">
      <li>
        <a href="/dashboard">&nbsp;&nbsp;Dashboard</a>
      </li>

      <li>
        <a href="/product/update">&nbsp;&nbsp;Update</a>
      </li>

      <li>
        <a href="/new/product">&nbsp;&nbsp;Add New Product</a>
      </li>
      <li>
        <a href="/product/search">&nbsp;&nbsp;Search Product</a>
      </li>

      <li>
        <a href="#walmartSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">&nbsp;&nbsp;Walmart</a>
        <ul class="collapse list-unstyled" id="walmartSubmenu">
          <li>
            <a href="/products/instock">&nbsp;&nbsp;In Stock</a>
          </li>

          <li>
            <a href="/products/outofstock">&nbsp;&nbsp;Out of Stock</a>
          </li>

          <li>
            <a href="/products/pricechanged">&nbsp;&nbsp;Price Changed</a>
          </li>

          <li>
            <a href="/products/backinstock">&nbsp;&nbsp;Back In Stock</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">&nbsp;&nbsp;Users</a>
        <ul class="collapse list-unstyled" id="userSubmenu">
          <li>
            <a href="/signup">&nbsp;&nbsp;Add New User</a>
          </li>

          <li>
            <a href="/users/all">&nbsp;&nbsp;View Users</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
